*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.dev{
    display: flex;
    
}
.dev img{
    padding: 10px;
}
.dev h4{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
nav{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 30px;
}
.list-1 ul{
    list-style: none;
    
}
.list-1 ul li a{
    text-decoration: none;
    font-family: Arimo;
}
.list-1-in{
    display: flex;
    
}
.list-1-in li a{
    align-items: center;
    padding: 10px;
    color: #575757;

}
.common-btn button,.banner-text button,.sec-btn{
    background-color: #1D4ED8;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;

}
/* nab bar end */
/* banner start */
.banner{
       min-height: 100vh;
    
    background-image:linear-gradient(
    to right,
    rgba(0,0,0,.8),
    rgba(0,0,0,.3),
    rgba(0,0,0,0)
),url('../assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
       
}
.banner-text{
    /* justify-content: center;
    align-items: center; */
    text-align: center;
      max-width: 700px;
        margin: 0 auto;
        /* padding: 100px 20px; */
}
.banner-text h2{
     font-family: 'Inter', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -3.2px;
    color: #FFFFFF;
    padding-bottom: 30px;
   
}
.banner-text p{
    margin-bottom: 60px;
    color: white;
}
.banner-text button{
margin-top: 400px;
padding: 20px 40px;
font-family: 'Inter', sans-serif;
cursor: pointer;

}
/* banner end */
/* spaker section start */
.speaker-container{
    max-width: 1200px;
    /* border: 1px solid black; */
    margin: 0 auto;
}
.imge-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 30px 0 60px 0;
}
.imge-container img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imge{
    border: 1px solid rgb(233, 230, 230);
    border-radius: 7px;

}
.imge h5{
    padding: 5px 0;
}
.imge-text{
    padding: 10px;
}
.para{
    color: #2563EB;
    font-weight: bold;
    font-size: 12px;
}
.laste{
    color: #575757;
   
}
.speaker-container h1{
    justify-content: center;
     text-align: center;
     margin-top: 70px;
     margin-bottom: 40px;
}
/* speaker section end */
/* Secure your spot start */
.secure{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.three-card{
    display: flex;
    justify-content: space-between;
    margin: 10px 140px 30px 140px;
    
}
.sec-hed{
    justify-content: center;
    text-align: center;
    margin: 4%;
}
.sec-hed p{
    color: #575757;
    padding: 10px;
}
.card{
    border: 1px solid rgb(192, 190, 190);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
}

.card ul{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card ul li::marker {
    color:#2563EB;
  
}

.card ul li {
    color:#333333;
    font-size: 14px;
    padding: 5px;
}
.para-1,.para-2{
    color: #575757;
    
}
.para-2{
    padding: 5px 0 10px 0;
}
.card h2{
    padding-top: 5px;
}
.card button{
    width: 100%;
}
.midee{
    background-color: #0D1B2A;
}
.midee h2 {
    color: white;

}
.mideee{
    color: rgb(221, 219, 219);
}
.midee ul li{
    color: rgb(207, 206, 206);
}
.nil{
    color: #93b3f7;
}
/* end secure */
/* some start */
.some{
    
    max-width: 1200px;
    margin: 0 auto;
    
}
.something{
    
    display: flex;
    margin: 50px 0 50px 0;
    justify-content: space-between;
}
